{mode, max}.
{concurrent, 1}.

{duration, 2}.           % minutes
{report_interval, 1}.    % seconds
{driver, reconfig_manager}.

{key_generator, {uniform_int, 1000}}.
{value_generator, {fixed_bin, 100}}.

%% Recovered in the driver initialization
{saturn_dc_nodes, ['dev1@127.0.0.1']}.
{saturn_cookie, saturn_leaf}.
{saturn_buckets_file, '../../files/seven_leafs_buckets.txt'}.
{saturn_mynode, ['reconfig@manager', longnames]}.

%% Add operations of 'reconfig_manager'
{operations, [{leave_join, 1},{subscribe_bucket, 0}]}.
