{mode, max}.

{duration, 1}.

{concurrent, 5}.

{driver, basho_bench_driver_saturn_da}.

{key_generator, {uniform_int, 10000}}.

{value_generator, {fixed_bin, 100}}.

{saturn_dcs_nodes, [['dev1@127.0.0.1']]}.
{saturn_bucket, 1}.
{saturn_cookie, saturn_leaf}.
{saturn_mynode, ['saturn_bench@127.0.0.1', longnames]}.

%{operations, [{update, 1},{read, 10}]}.
{operations, [{read, 1}]}.

{code_paths, ["/Users/bravogestoso/Projects/saturn/saturn_leaf/ebin"]}.
