{mode, max}.

{duration, 1}.

{concurrent, 5}.

{driver, saturn_complex_rpc}.

{key_generator, {uniform_int, 1000}}.

{value_generator, {fixed_bin, 100}}.

{saturn_dc_nodes, ['dev1@127.0.0.1']}.
{saturn_dc_receiver, ['dev1@127.0.0.1']}.
{saturn_number_dcs, 7}.

%around 6M keys
{saturn_number_internalkeys, 100}.
{saturn_mynode, ['saturn_bench@127.0.0.1', longnames]}.
{saturn_cookie, saturn_leaf}.
{saturn_dc_id, 0}.
{saturn_total_buckets, 61095}.

{saturn_masters_file, '../../files/masters-facebook-Servers5KMin2KMax2.txt'}.
{saturn_graph_file, '../../files/friends-facebook-Servers5KMin2KMax2.txt'}.

{operations, [{update, 179},{read, 9821}]}.
